.main-footer {
  padding-block: 40px;
  background-color: $basic-grey;

  @media screen and (min-width: $tablet-width) {
    padding-block: 56px 54px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-block: 66px;
  }
}

.main-footer__container {
  @include full-flex(center, center, column nowrap);
  gap: 15px;
  width: 280px;
  margin-inline: auto;

  @media screen and (min-width: $tablet-width) {
    width: 708px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-footer__logo {
  width: 130px;
  color: $special-dark;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
    align-self: flex-start;
    margin-top: 5px;
  }
}

.main-footer__social {
  margin: 0;
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    width: 184px;
    margin-inline: auto;
    margin-top: 6px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 236px;
  }
}

.main-footer__copyright {
  align-self: flex-start;
  width: 100%;
  margin-top: 4px;

  @media screen and (min-width: $tablet-width) {
    width: 163px;
    margin-top: 0;
  }
}
