.methods {
  padding-block: 20px 49px;

  @media screen and (min-width: $tablet-width) {
    padding-block: 46px 46px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-block: 71px 68px;
  }
}

.methods__title {
  margin-block: 0 40px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.methods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: methodology 0;

  @media screen and (min-width: $tablet-width) {
    @include full-flex();
    gap: 78px 133px;
  }

  @media screen and (min-width: $desktop-width) {
    column-gap: 77px;
  }
}

.methods__item {
  @include full-flex();
  gap: 20px;
  counter-increment: methodology 1;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    @include before-after(60px, 60px);
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--benefit::before {
    background-image: url("../../icons/stack.svg#benefit");
    background-size: 30px 32px;
  }

  &--release-form::before {
    background-image: url("../../icons/stack.svg#release-form");
    background-size: 27px 29px;
  }

  &--replacement::before {
    background-image: url("../../icons/stack.svg#replacement");
    background-size: 25px 30px;
  }

  &--timing::before {
    background-image: url("../../icons/stack.svg#timing");
    background-size: 26px 32px;
  }

  @media screen and (min-width: $tablet-width) {
    flex-flow: column nowrap;
    gap: 30px;
    width: 250px;
    padding-bottom: 57px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::after {
      @include before-after(138px, 280px, block, counter(methodology));
      @include font-full($oswald-font, 280px, 280px, 400, $basic-grey);
      position: absolute;
      top: -40px;
      right: 0;
      z-index: -1;
      text-align: left;
    }

    &--benefit::after {
      width: 133px;
    }

    &--release-form::after {
      width: 139px;
    }

    &--timing::after {
      width: 137px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 247px;

    &--release-form {
      margin-right: 1px;
    }

    &::before {
      margin-left: 1px;
    }

    &::after {
      width: 133px;
    }

    &--benefit::before {
      margin-left: 0;
    }

    &--benefit::after {
      width: 129px;
    }
  }
}

.methods__text {
  width: 200px;
  margin-block: 0;
  align-self: center;

  @media screen and (min-width: $tablet-width) {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    color: $primary-color;
    margin-left: -4px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 0;
    width: 100%;
  }
}

.methods__br {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
